{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <h1>My Bookings</h1>
        <hr />
        <div class="row">
            {% for booking in bookings %} 
                <div class="col-md-12">
                    <h4>
                        Booking {{ booking.id }} | 
                        Checkin: {{ booking.checkin|date("Y-m-d") }} | 
                        Checkout: {{ booking.checkout|date("Y-m-d") }} | 
                        <a class="btn btn-primary btn-xs" href="{{ path('hotel_index') }}">Back &raquo;</a>
                    </h4>
                    <hr />   
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
