{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <h1>My Bookings</h1>
        <hr />
        <div class="row">
            {% for booking in bookings %} 
                <div class="col-md-12">
                    <h4>Booking {{ booking.id }}</h4> 
                    <p>Checkin: {{ booking.checkin|date("Y-m-d") }} | Checkout: {{ booking.checkout|date("Y-m-d") }}</p>
                    <hr />   
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
