{% extends 'base.html.twig' %}

{% block main %}

    <p>
        <a class="btn btn-success" href="{{ path('admin_bookings')}}">VIEW ALL BOOKINGS</a>
        <a class="btn btn-success" href="{{ path('admin_users')}}">VIEW ALL USERS</a>
    </p>

{% endblock %}

