{% extends 'base.html.twig' %}

{% block main %}

    <a class="btn btn-success" href="{{ path('admin_bookings')}}">ВИЖ ВСИЧКИ ОБЯВИ</a>

    <h1>Всички потребители:</h1>

    {% for user in users %}
        {{ users.id }} {{ users.email }}
    {% endfor %}

{% endblock %}