{% extends 'base.html.twig' %}

{% block body %}

    <section class="offers offers-width header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="header-title text-center">Offers</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid offers1-container"> 
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-img">
                    <img src="img/offer-early-booking.jpg" alt="img" class="img-thumbnail">
                </div>
                <div class="col-md-5 col-sm-12 col-text">
                    <div class="offers-info text-left">
                        <h4>Summer 2021 in Hotel & SPA</h4>
                        <p>June 2021 - July 2021</p>
                        <p>Early bookings with up to -25% discount</p>
                        <p><a href="{{ path('view_contact') }}">For info and reservation</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid offers2-container">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 order-last">
                    <img src="img/offer-events.jpg" alt="img" class="img-thumbnail">
                </div>
                <div class="col-md-5 col-sm-12 order-first">
                    <div class="offers-info text-right">
                        <h4>Business and family events</h4>
                        <p>01 January 2021 - 31 December 2021</p>
                        <p>Offer from for organizing your event</p>
                        <p><a href="{{ path('view_contact') }}">For info and reservation</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid offers1-container"> 
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-img">
                    <img src="img/offer-prom.jpg" alt="img" class="img-thumbnail">
                </div>
                <div class="col-md-5 col-sm-12 col-text">
                    <div class="offers-info text-left">
                        <h4>Prom 2021 in Hotel & SPA</h4>
                        <p>01 May 2021 - 31 May 2021</p>
                        <p>An unforgettable experience in the hotel</p>
                        <p><a href="{{ path('view_contact') }}">For info and reservation</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid offers2-container">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 order-last">
                    <img src="img/offer-wedding-celebration.jpg" alt="img" class="img-thumbnail">
                </div>
                <div class="col-md-5 col-sm-12 order-first">
                    <div class="offers-info text-right">
                        <h4>Wedding celebration</h4>
                        <p>01 May 2021 - 30 Sep 2021</p>
                        <p>Offer from for organizing your wedding</p>
                        <p><a href="{{ path('view_contact') }}">For info and reservation</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}