{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <div class="well">
            <form class="form-horizontal" action="{{ path('admin_payment_edit', {'id': payment.id}) }}" method="POST">
                <fieldset>
                    <legend>Edit Payment</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="payment_name">Name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="payment_name" placeholder="Name" name="payment[name]" value="{{ payment.name}}">
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="a-cancel" href="{{ path('admin_payments') }}">Cancel</a>
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    
{% endblock %}