{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <h2>
            <a href="{{ path('admin_roles') }}">All Roles</a> -
            <a href="{{ path('admin_role_create') }}" class="btn btn-danger">Create New</a>
        </h2>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role.id }}</td>
                        <td>{{ role.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}