{% extends 'base.html.twig' %}

{% block body %}

    <section class="events events-width header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="header-title text-center">Events</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container custom-container-events text-center">
        <div class="row custom-row">
            <div class="col-md-6 col-sm-12 custom-col col-events">
                <h2>Business Events</h2>
                <hr />
                <p>Hotel & SPA offers three modern multifunctional halls with suitable premises for simultaneous translation, coffee breaks, individual meetings.</p>
            </div>
            <div class="col-md-6 col-sm-12 custom-col">
                <img src="img/event-business.jpg" alt="img" class="img-thumbnail">
            </div>
        </div>
        <div class="row custom-row">
            <div class="col-md-6 col-sm-12 custom-col">
                <img src="img/event-family.jpg" alt="img" class="img-thumbnail">
            </div>
            <div class="col-md-6 col-sm-12 custom-col col-events">
                <h2>Family Events</h2>
                <hr />
                <p>Special moments require special place. Our team will be delighted to welcome you in our restaurants so this day could become great and unforgettable occasion.</p>
            </div>
        </div>
    </div>
    <div class="container special-events text-center">
        <h3>Special events require special place!</h3>
        <hr />
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="info">
                    <a class="event-link" href="{{ path('hotel_index') }}">Rooms and apartments</a>
                    <p>They are designed for connoisseurs of luxury, which offer an exceptionally refined atmosphere and specially selected services.</p>
                </div>
                <img src="img/apartment-super-L.jpg" alt="img" class="img-thumbnail">
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="img/cocktails.jpg" alt="img" class="img-thumbnail">
                <div class="info">
                    <a class="event-link" href="{{ path('view_venues') }}">Restaurants and bars</a>
                    <p>You will receive quality service in a stylish atmosphere. Our specialists will help you organize various events.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="info">
                    <a class="event-link" href="{{ path('view_relax_zone') }}">SPA & Wellness</a>
                    <p>SPA & Wellness center offers harmonious and a healthy environment where you can rest, relax and feel rejuvenated.</p>
                </div>
                <img src="img/spa-and-wellness.jpg" alt="img" class="img-thumbnail">
            </div>
        </div>
    </div> 
    <div class="container gallery text-center">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="title">
                    <h4>Business events gallery</h4>
                    <hr />
                </div>
                <img src="img/header-events.jpg" alt="img" class="img-thumbnail">
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="title">
                    <h4>Family events gallery</h4>
                    <hr />
                </div>
                <img src="img/restaurant.jpg" alt="img" class="img-thumbnail">
            </div>
        </div>
    </div> 
    
{% endblock %}